{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Login{% endblock %}</title>
        <meta name="google-site-verification" content="4lTLZVdHg5WQr3BM2RAQErwsrOHbJvxybn6Wn6wMD7M" />
        <meta name="robots" content="all">
        <meta name="Description" CONTENT="Deck: NHHS SJB">
        <link rel="shortcut icon" type="image/png" href="/static/inventoryresource/logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <style>
            body{
                padding: 10px;
                background-color: #121212;
                color: white;
            }
            .form-control:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }
            .btn-primary:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }
        </style>
    </head>
    <body>
        <div style="position: absolute; top: 15%; left: 0; right: 0;">
        <img style="max-height: 250px;display: block;margin: auto;margin-bottom: 40px;" src="/static/inventoryresource/St John Singapore Logo (Inverted, Transparent Background).png">
        <script>myFunction()</script>
        {%if message%}
            <p style="margin-bottom: 10px; color: red; text-align: center;"><small>{{message}}</small></p>
         {%endif%}
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" style="width: 300px; display: block; margin: auto;" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" style="width: 300px; display: block; margin: auto;" placeholder="Password">
                <input hidden value="{{toredirect}}" name="toredirect" id="toredirect">
            </div>
            <input class="btn btn-primary" style="display: block; margin: auto;" type="submit" value="Login">
        </form>
        </div>
        
    </body>
</html>


    
